.navbar{
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
    background-color:var(--primary-color);
}

.opt-btn,.btn{
    cursor: pointer;
    flex: 1;
    width: 6rem;
    min-width:max-content;
    height:2rem;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--CTA);
    border: none;
    padding: 5px;
}
.app-logo{
    margin: 0 3rem;
    width:min-content;
    text-decoration: none;
}
.logo-txt{
    cursor: context-menu;
    display: flex;
    align-items: center;
    color: var(--logo-color);
    font-size:2rem;
    width:fit-content;
    font-size: 2rem;
    height: 2rem;
    padding: 5px;

}
.logo-txt:hover{
    color: var(--secondary-color);
    transform: scale(1.2);
    transition: cubic-bezier(1, 0, 0, 1);
}
.opt-btn:hover,.sign-btn:hover,.btn:hover{
    background-color: var(--secondary-color);
    transform: scale(1.2);
    transition: cubic-bezier(1, 0, 0, 1);

}

.auth{
    margin: 0 2.5rem;
}