body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--bgc);
}
*{
  padding: 0;
  margin: 0;
  letter-spacing: 0.1px;
}
:root{
  --primary-color:#0D3F7C;
  --secondary-color:#EA25B5;
  --logo-color:#04BBEC;
  --CTA:#c874ef;
  --bgc:#a5efe1;
  --font-color:#FAEDF0;
  --crct:green;
}